body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #2C3639;
}

.sui:hover {
    background-color: #181818 !important;
}

.footer{
    background: #000016;
    color: #fff;
    text-align: center;
    padding: 2em;
  }